body {
    font-family: "Lato", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.8;
    font-weight: normal;
    color: gray;
    /* background gradient */
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(213, 211, 211, 0.6001751042213761) 100%);
    background-repeat: no-repeat;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.mb-0,
.my-0 {
    margin-bottom: 0 !important;
}

.pb-5,
.py-5 {
    padding-bottom: 3rem !important;
}

.pt-5,
.py-5 {
    padding-top: 3rem !important;
}

.ftco-section {
    padding: 7em 0;
}

.row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.pb-5,
.py-5 {
    padding-bottom: 3rem !important;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.login-wrap {
    position: relative;
    background: #141313;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0px 10px 34px 10px rgb(0 0 0 / 24%);
}

.justify-content-center {
    justify-content: center !important;
}

.login-wrap .img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.align-items-center {
    align-items: center !important;
}

.login-wrap h3 {
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.text-center {
    text-align: center !important;
}

.login-wrap p {
    color: rgba(255, 255, 255, 0.5);
}

form {
    display: block;
    margin-top: 0em;
}

.form-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-group .icon {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20px;
    height: 48px;
    background: transparent;
    font-size: 18px;
}

.form-group .icon span {
    color: #fff;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.form-control {
    height: 48px;
    background: rgba(0, 0, 0, 0.05);
    color: rgba(255, 255, 255, 0.8) !important;
    font-size: 14px;
    box-shadow: none;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #c8a97e;
    padding-left: 30px;
    padding-right: 30px;
    letter-spacing: 1px;
    transition: all 0.2s ease-in-out;
}

.form-group input:focus {
    outline: none;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}

.d-md-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.w-100 {
    width: 100% !important;
}

.mt-4,
.my-4 {
    margin-top: 1.5rem !important;
}

button,
input {
    overflow: visible;
}

.btn.btn-primary {
    background: #c8a97e !important;
    border: 1px solid #c8a97e !important;
    color: #fff !important;
}

.btn {
    cursor: pointer;
    border-radius: 40px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    font-size: 15px;
}

.rounded {
    border-radius: 0.25rem !important;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
    cursor: pointer;
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #c8a97e;
    text-decoration: none;
    background-color: transparent;
}

.w-100 {
    width: 100% !important;
}

.text a {
    text-transform: uppercase;
}